@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .my-rotate-y-180 {
    transform: rotateY(180deg);
  }
  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }
}
